[Desktop Entry]
Name=xvkbd
GenericName=Onscreen keyboard
GenericName[ar]=لوحة المفاتيح على الشاشة
GenericName[ast]=Tecláu en pantalla 
GenericName[be]=Экранная клавіятура 
GenericName[bg]=Екранна клавиатура 
GenericName[bn]= পর্দার কীবোর্ড
GenericName[bs]=Tastatura na ekranu
GenericName[ca]=Teclat a la pantalla 
GenericName[ca@valencia]=Teclat a la pantalla 
GenericName[cs]=Klávesnice na obrazovce
GenericName[da]=Skærmtastatur
GenericName[de]=-Bildschirmtastatur
GenericName[el]=Πληκτρολόγιο οθόνης 
GenericName[en_AU]=onscreen keyboard
GenericName[en_GB]=on-screen keyboard
GenericName[eo]=Surekrana klavaro 
GenericName[es]=Teclado en pantalla 
GenericName[eu]=Pantailako teklatua
GenericName[fi]=Virtuaalinäppäimistö
GenericName[fr]=Clavier virtuel 
GenericName[fr_CA]=Clavier à l'écran 
GenericName[gd]=Meur-chlàr air sgrìn 
GenericName[gl]=Teclado na pantalla de 
GenericName[hr]=Zaslonska tipkovnica
GenericName[hu]=Képernyő-billentyűzet
GenericName[ia]=Claviero sur le schermo de 
GenericName[it]=Tastiera a schermo 
GenericName[ja]=オンスクリーンキーボード
GenericName[km]=ក្ដារ​ចុច​នៅ​លើ​អេក្រង់ 
GenericName[ko]=온보드 화면 키보드
GenericName[lt]=Ekraninė klaviatūra
GenericName[lv]=Ekrāna tastatūra
GenericName[mr]=ऑनबोर्ड पडद्यावरील कळफलक
GenericName[ms]=Papan kekunci atas skrin 
GenericName[nb]=Skjermtastatur
GenericName[nl]=Schermtoetsenbord
GenericName[oc]=Clavièr a l'ecran 
GenericName[pl]=Klawiatura ekranowa 
GenericName[pt]=Teclado no ecrã do 
GenericName[pt_BR]=Teclado virtual 
GenericName[ro]=Tastatura virtuală 
GenericName[ru]=Экранная клавиатура 
GenericName[sk]=Klávesnica na obrazovke
GenericName[sl]=Zaslonska tipkovnica
GenericName[sq]=Tastirë në ekran
GenericName[sr]=Онбоард — тастатура на екрану
GenericName[sv]=Skärmtangentbord
GenericName[tg]=Клавиатураи экрании 
GenericName[tr]=Ekran klavyesi
GenericName[ug]= ئېكران ھەرپتاختىسى
GenericName[uk]=Eкранна клавіатура
GenericName[zh_CN]=屏幕键盘
GenericName[zh_HK]=螢幕鍵盤
GenericName[zh_TW]=螢幕鍵盤
Exec=xvkbd
Terminal=false
Type=Application
Categories=Utility;Accessibility;
Keywords=onscreen;keyboard;accessibility;utility;
Icon=input-keyboard.svg
